{% extends "accounts/base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	body,html{height:40%;}

	.pillsH-tab-wrap .tab-head .nav-tabs {
		border: none;
	}

	.pillsH-tab-wrap .tab-head .nav-tabs .nav-item {
		margin: 0;
		text-align: center;
	}

	.pillsH-tab-wrap .tab-head .nav-tabs .nav-item a {
		color: #666666;
		font-weight: 400;
		font-size: 18px;
		border: none;
/*		padding-left: 35px;
		padding-right: 35px;*/
		opacity: 1;
		border-radius: 5px;
	}

	.pillsH-tab-wrap .tab-head .nav-tabs .nav-item a.active {
		background: #2bbbad;
		color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}

	.pillsH-tab-wrap .tab-head .nav-tabs .nav-item a i {
		margin-right: 5px;
	}

	.pillsH-tab-wrap .tab-content {
		padding: 30px 20px 30px 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
</style>
<div class="container h-100">
	<div class="row h-100 align-items-center">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto text-center form p-4">
			<div class="input-group mb-3">
				<input id="tablequery" class="form-control form-control-lg" type="text" name="booksearch" placeholder="Search for book">
			</div>
		</div>
	</div>
	<div class="pills pillsH-tab-wrap py-3">
		<div class="tab-wrap">
			<div class="tab-head">
				<ul class="nav nav-tabs nav-fill" id="pillsHTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="favouriteBooks-tab" data-toggle="tab" href="#favouriteBooks-1" role="tab"
							aria-controls="favouriteBooks-1" aria-selected="true"></i>Favourites</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="readingNowBooks-tab" data-toggle="tab" href="#readingNowBooks-2" role="tab"
							aria-controls="readingNowBooks-2" aria-selected="false">Reading Now</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="toReadBooks-tab" data-toggle="tab" href="#toReadBooks-3" role="tab"
							aria-controls="toReadBooks-3" aria-selected="false">To Read</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="haveReadBooks-tab" data-toggle="tab" href="#haveReadBooks-4" role="tab"
							aria-controls="haveReadBooks-4" aria-selected="false">Have Read</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="visitedBooks-tab" data-toggle="tab" href="#visitedBooks-6" role="tab"
							aria-controls="visitedBooks-6" aria-selected="false">Recently Viewed</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="personalizedBooks-tab" data-toggle="tab" href="#personalizedBooks-7" role="tab"
							aria-controls="personalizedBooks-7" aria-selected="false">Books for Me</a>
					</li>
				</ul>
			</div>
			<div class="tab-content" style="height: 600px; overflow: auto;">
				<div class="tab-pane fade show active" id="favouriteBooks-1" role="tabpanel" aria-labelledby="favouriteBooks-tab">
					<table class="table" id="favourites-table" style="table-layout:auto;width: 100%;">
						<thead>
							<tr>
								<th scope="col">Book Title / Page</th>
								<th scope="col">Categories</th>
								<th scope="col">Average Rating</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody id="favourite-result">
							{% for books in favouriteBooks %}

							<tr id="{{books.isbn13}}">
								<td scope='row' style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
									{{books.unCleanData.title}}
								</td>
								<td>{{books.unCleanData.genre}}</td>
								<td>{{books.getaverageRatingToStar|safe}}</td>
								<td>
									<button type="button" class="btn btn-danger" onclick="updateShelf( '{{books.isbn13}}', 'favourites' );">
										<i class="fa fa-trash-o" style="font-size:20px"></i>
									</button>
								</td>
							</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="readingNowBooks-2" role="tabpanel" aria-labelledby="readingNowBooks-tab">
					<table class="table" id="reading-now-table" style="table-layout:auto;width: 100%;">
						<thead>
							<tr>
								<th scope="col">Book Title / Page</th>
								<th scope="col">Categories</th>
								<th scope="col">Average Rating</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody id="reading-now-result">
							{% for books in readingNowBooks %}

							<tr id="{{books.isbn13}}">
								<td scope='row' style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
									{{books.unCleanData.title}}
								</td>
								<td>{{books.unCleanData.genre}}</td>
								<td>{{books.getaverageRatingToStar|safe}}</td>
								<td>
									<button type="button" class="btn btn-danger" onclick="updateShelf( '{{books.isbn13}}', 'readingNow' );">
										<i class="fa fa-trash-o" style="font-size:20px"></i>
									</button>
								</td>
							</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="toReadBooks-3" role="tabpanel" aria-labelledby="toReadBooks-tab">
					<table class="table" id="toread-table" style="table-layout:auto;width: 100%;">
						<thead>
							<tr>
								<th scope="col">Book Title / Page</th>
								<th scope="col">Categories</th>
								<th scope="col">Average Rating</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody id="toread-result">
							{% for books in toReadBooks %}

							<tr id="{{books.isbn13}}">
								<td scope='row' style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
									{{books.unCleanData.title}}
								</td>
								<td>{{books.unCleanData.genre}}</td>
								<td>{{books.getaverageRatingToStar|safe}}</td>
								<td>
									<button type="button" class="btn btn-danger" onclick="updateShelf( '{{books.isbn13}}', 'toRead' );">
										<i class="fa fa-trash-o" style="font-size:20px"></i>
									</button>
								</td>
							</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="haveReadBooks-4" role="tabpanel" aria-labelledby="haveReadBooks-tab">
					<table class="table" id="have-read-table" style="table-layout:auto;width: 100%;">
						<thead>
							<tr>
								<th scope="col">Book Title / Page</th>
								<th scope="col">Categories</th>
								<th scope="col">Average Rating</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody id="have-read-result">
							{% for books in haveReadBooks %}

							<tr id="{{books.isbn13}}">
								<td scope='row' style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
									{{books.unCleanData.title}}
								</td>
								<td>{{books.unCleanData.genre}}</td>
								<td>{{books.getaverageRatingToStar|safe}}</td>
								<td>
									<button type="button" class="btn btn-danger" onclick="updateShelf( '{{books.isbn13}}', 'haveRead' );">
										<i class="fa fa-trash-o" style="font-size:20px"></i>
									</button>
								</td>
							</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="visitedBooks-6" role="tabpanel" aria-labelledby="visitedBooks-tab">
					<table class="table" id="visited-table" style="table-layout:auto;width: 100%;">
						<thead>
							<tr>
								<th scope="col">Book Title / Page</th>
								<th scope="col">Categories</th>
								<th scope="col">Average Rating</th>
							</tr>
						</thead>
						<tbody id="visited-result">
							{% for books in visitedBooks %}

							<tr id="{{books.isbn13}}">
								<td scope='row' style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
									{{books.unCleanData.title}}
								</td>
								<td>{{books.unCleanData.genre}}</td>
								<td>{{books.getaverageRatingToStar|safe}}</td>
							</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="personalizedBooks-7" role="tabpanel" aria-labelledby="personalizedBooks-tab">
					<table class="table" id="recommendation-table" style="table-layout:auto;width: 100%;">
						<thead>
							<tr>
								<th scope="col">Book Title / Page</th>
								<th scope="col">Categories</th>
								<th scope="col">Average Rating</th>
							</tr>
						</thead>
						<tbody id="recommendation-result">
							{% for books in personalizedBooks %}

							<tr id="{{books.isbn13}}">
								<td scope='row' style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
									{{books.unCleanData.title}}
								</td>
								<td>{{books.unCleanData.genre}}</td>
								<td>{{books.getaverageRatingToStar|safe}}</td>
							</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#tablequery").on("keyup", function() {
			var value = $(this).val().toLowerCase();

			$("#rated-result tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});

			$("#visited-result tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});

			$("#favourite-result tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});

			$("#reading-now-result tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});

			$("#toread-result tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});

			$("#have-read-result tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});

			$("#recommendation-result tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});

	function updateShelf( isbn, shelfName )
	{
		url = "{% url 'book:updateShelf' 'isbn' 'index' %}";
		url = url.replace('isbn', isbn);
		url = url.replace('index', shelfName);

		$("tr#"+isbn).remove();

		$.ajax({
			url: url,
			type: 'POST',
			data: {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			},
			async: true,
			success: function (response)
			{
				// TODO: suppose there was an error with the server, add the book back to the table.
				if ( !response.action )
				{
					return;
				}
			}
		});
	}
</script>
{% endblock %}